<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.e4.babel.core.api.resourceFactory" name="Resource Factory" schema="schema/org.eclipse.e4.babel.core.api.resourceFactory.exsd"/>
   <extension-point id="org.eclipse.e4.babel.core.api.resourceManager" name="Resource Manager" schema="schema/org.eclipse.e4.babel.core.api.resourceManager.exsd"/>
   <extension
         point="org.eclipse.e4.babel.core.api.resourceFactory">
      <resource_factory
            class="org.eclipse.e4.babel.core.internal.resource.workspace.StandardResourceFactory"
            order="8888">
      </resource_factory>
   </extension>
   <extension
         point="org.eclipse.e4.babel.core.api.resourceManager">
      <resource_manager
            class="org.eclipse.e4.babel.core.internal.resource.ResourceManager"
            order="1">
      </resource_manager>
   </extension>

</plugin>
